* {
  box-sizing: border-box;
}
body {
  background-image: url('images/restaurant.png');
  margin: 0;
}

/*@media screen and (max-width: 767px) {
    body { padding-top: 60px; }
}
@media screen and (min-width:768px) and (max-width: 991px) {
    body { padding-top: 110px; }
}
@media screen and (min-width: 992px) {
    body { padding-top: 60px; }
}*/

.rest-info{
  display: inline-block;
  width: 579px;
}

.list-item{
  width: 100%;
}

.recipe{
  height: 117px;
  width: 400px;
  border: 13px solid #8D80AD;
  background-color: rgba(175, 238, 238, .3);
  display: flex;
  align-items: center;
}

.cross{
  text-decoration: line-through;
  color: #8D80AD;
}

.rec-text {
  font-family: Handlee;
}
.recipe-ideas {
  font-size: 16px;
  font-family: Handlee;
  display: inline-block;
  color: #005E7D;
  margin-left: 15px;
}

.home img {
  height: 70px;
}

form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#ex-text {
  font-family: Josefin Slab;
}


.rest-rec-list-title {
  font-family: Josefin Slab;
  color: #8D80AD;
  font-size: 26px;
  margin-bottom: 29px;
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#list-title{
  background-color: whitesmoke;
  height: 47px;
  padding-top: 10px;
  font-family: Josefin Slab;
  color: #8D80AD;
  font-size: 26px;
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.rest-names {
  font-size: 16px;
  font-family: Handlee;
  width: 311px;
  text-align: center;
  background-color: rgba(175, 238, 238, .5);
  border-radius: 25px;
  line-height: 1.5;
  border: 2px solid;
  border-color: rgba(141, 128, 173, .5);
}

h3 {
  text-align: center;
}

.rest-rec-list-view {
  margin-top: 100px;
  margin-bottom: 40px;
}

.rest-ideas {
  color:  #005E7D;
}



.columns img {
  height: 85px;
  width: 85px;
  border: 1px solid #8D80AD;
  border-radius: 42px;
}

.columns {
  font-family: Pacifico;
  font-size: 15px;
  margin-bottom: 40px;
  margin-left: 200px;

}

.row{
  /*align-items: center;
  flex-direction: row;*/
}

.text-nowrap {
    white-space: nowrap;
}

.navbar-fixed-top {
  background-color: #4E4D5C;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  /*background: rgba(78, 77, 92, 0.7);*/
}
.navbar-fixed-bottom {
  background-color: #4E4D5C;
  /*background: rgba(78, 77, 92, 0.7);*/
  height: 64px;
}

.btn-lg{
  border-radius: 50px;
  background-color: rgb(129,209,208);
  border-color: rgb(129,209,208);
  font-family: Noto Serif;
  color: #005E7D;
  height: 40px;
  align-self: center;
  font-size: 16px;
}

.glyphicon.glyphicon-list-alt{
  font-size: 40px;
  align-self: center;
  color: rgb(129,209,208);
}
.modal-content {
  background-color: #FA9E42;
  text-align: center;
  font-family: Josefin Slab;
  border-radius: 50px;
}

.submit{
  border: 1px solid #FA9E42;
  border-radius: 25px;
  background-color: #FA9E42 ;
  color: white;
}

.btn-warning {
  margin-bottom: 15px;
  border-radius: 30px;
  font-family: Josefin Slab;
}

.container {
  /*margin-top: 120px;*/
  /*overflow: scroll;*/
}

.pull-left img {
  height: 72px;
}

input[type=text] {
font-family:Noto Serif;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 60px;
}

.title {
  display: flex;
  justify-content:center;
}

.title h1 {
  font-family: Josefin Slab;
  font-size: 40px;
  text-shadow: 1px 0px #4E4D5C;
  color: #8D80AD;
  text-align: justify;
}

.line-two {
  margin-left: 50px;
}
.or-text{
  font-family: Pacifico;
  color: #e4c79f;
  margin: auto;

}
 .button-list {
   font-family: Serif;
   font-size: 12px;
   border-radius: 14px;
}

.list-cont {
  font-family: Handlee;
  font-size: 16px;
  color: #4E4D5C;
  background-color: whitesmoke;
  height: 30px;
  width: 650px;
  margin: auto;
  border-top: 1px solid;
  display: flex;
  padding-top: 6px;
  border-color: #005E7D;
}

.button-sect {
  display: flex;
  justify-content: space-around;
  margin-top: 43px;
}

.button:focus {
  outline:0;
}
.button{

    border:1px solid #84acc3 !important;
    font:17px Noto Serif, Arial, sans-serif;
    text-decoration:none !important;
    white-space:nowrap;
    display:inline-block;
    vertical-align:baseline;
    position:relative;
    cursor:pointer;
    padding:10px 20px;
    background-repeat:no-repeat;
    background-position:bottom left;
    background-image:url('css3-buttons/buttons/button_bg.png');
    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;
    -moz-border-radius:4em;
    -webkit-border-radius:4em;
    border-radius:4em;
    -moz-box-shadow:0 0 1px #fff inset;
    -webkit-box-shadow:0 0 1px #fff inset;
    box-shadow:0 0 1px #fff inset;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    -o-transition: background-position 1s;
    transition: background-position 1s;
}

.button:hover{

    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
}

#in {
  background-color: #005E7D;
  color:#f1ad7b !important;
}

#out {
  background-color: #FA9E42;
  color:#4E4D5C !important;
}
